*{
    margin: 4px;
    padding: 0 15px 15px;
    box-sizing: border-box;
  
  }
  
  
  header {
    position: fixed;
    top: -8 ;
    width: 100%;
    z-index: 1000;
    padding: 2 10px 15px;
    right: 8px;
    box-shadow: 0 10 15 #fffff;
  }
   
  footer {
     margin-top: 130px;
     right: 10px;
    
  }
  
  main {
    margin: top;
   }
  
  
  
  head {
    width: 40%;
  }

  body {
    background-color: #e3f0fd;
    box-shadow: 0 10 15 #ffffff;

  }